@model Cental.Models.Tag

<div class="container-fluid pt-4">
    <form method="post">
        <div class="form-floating mb-3">
            <input type="text" asp-for="Name" class="form-control border-1 border-secondary">
            <label asp-for="Name">Name</label>
            <span asp-validation-for="Name" class="text-danger-small text-danger"></span>
        </div>
        <a asp-action="index" asp-controller="tag" type="button" class="btn btn-secondary text-danger float-end m-2">Cancel</a>
        <button type="submit" class="btn btn-primary float-end mt-2">Save</button>
    </form>
</div>