@model LoginModel
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Login</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active text-primary">Login</li>
        </ol>
    </div>
</div>
<!-- Header End -->
<div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text text-danger small"></div>
                <div class="form-floating mb-3">
                    <input type="text" asp-for="UsernameOrEmail" class="form-control" placeholder="xxx">
                    <label asp-for="UsernameOrEmail">Username or email</label>
                    <span asp-validation-for="UsernameOrEmail" class="text text-danger small"></span>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" asp-for="Password" class="form-control" placeholder="xxx">
                    <label asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text text-danger small"></span>
                </div>
                <div class="d-flex justify-content-around align-items-center mb-4">
                    <div class="form-check">
                        <input type="checkbox" asp-for="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" class="form-check-label"> Remember me </label>
                    </div>
                    <a asp-action="forgotPassword" asp-controller="account">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block w-100">Sign in</button>
                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                </div>
                <a class="btn btn-primary btn-lg btn-block w-100 mb-2" style="background-color: #3b5998" href="#!"
                   role="button">
                    <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                </a>
                <a class="btn btn-primary btn-lg btn-block w-100" style="background-color: #55acee" href="#!"
                   role="button">
                    <i class="fab fa-twitter me-2"></i>Continue with Twitter
                </a>
                <div class="text-center mt-3 pt-2">
                    <p class="small fw-bold mt-2 pt-1 mb-0">
                        Don't have an account? <a asp-action="register" asp-controller="account"
                                                  class="link-danger">Register</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: gray;
    }
</style>